<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p><span th:text="${organizationName}"></span> requested the deletion of the following workspace</p>
<br/>
<p>Workspace name: <span th:text="${workspaceLabel}"></span></p>
<br/>
<p>Workspace url: <span th:text="${workspaceUrl}"></span></p>
<br/>
<p>Customer email: <span th:text="${customerEmail}"></span></p>
<br/>
<p>Case url: <span th:text="${caseUrl}"></span></p>
</body>
</html>